
@{
    ViewBag.Title = "EventDetail";
    Layout = "~/Views/Shared/Innerpages.cshtml";
}

<h2 style="text-align:center">Events Details:</h2>
<div class="container">
    <div class="row">

        <h1>THE PROCEDURE FOR APPYLING FOR PARTICIPATION:-</h1>
        <p> The procedure for applying for participation, visits to the website and first registers yourself on the registration form, and then login your account, after that you can fill the requirements and submit for the participate.</p>
    

        <h1>THE FEES DETAIL:-</h1>
        <p> The procedure for applying for participation, visits to the website and first registers yourself on the registration form, and then login your account, after that you can fill the requirements and submit for the participate.</p>
    

        <h1>ELIGIBILITY CRITERIA:-</h1>
        <p> The procedure for applying for participation, visits to the website and first registers yourself on the registration form, and then login your account, after that you can fill the requirements and submit for the participate.</p>


        <h1>PRIZE DETAIL:-</h1>
        <p> The procedure for applying for participation, visits to the website and first registers yourself on the registration form, and then login your account, after that you can fill the requirements and submit for the participate.</p>

        <h1>TERMS AND CONDITIONS:-:-</h1>
        <p>The terms and conditions for the competition should be applied on every participant, which are as follows:</p>
        <ul>
            <li>The speech should be complete in 10 to 15 minutes otherwise your points will be deducted.</li>
        <li>The participants should be in formal dresses including tie which is compulsory.</li>
          <li>Other dresses like jeans, shorts, t-shirts, etc will not allow.</li>
        <li>Only dressing shoes are allowed other shoes, boots, slippers, sandals, etc will not allow.</li>
        <li>Students are ordered that they have to bring their receipt and confirmation letter also with them. Otherwise the will not allow to perform. </li>
        </ul>
    </div>

</div>
